.box {
  display: flex;
  flex-direction: row;
  margin-left: calc(-5px);
  align-items: center;
}

.item{
    margin-left: 5px;
    font-weight: 700;
}

.itemInst{
    margin-left: 5px;
}

.hex {
    font-size: 10px;
}